extends ./layouts/jqm-layout

block content
  //-- MAIN page content
  //-- Params should be taken: title(str), error(obj), message(str), footer(str)
  div(data-role='page' class='jqm-demos ui-responsive-panel')
    div(data-role='header')
      h1= title
    div(role='main' class='ui-content jqm-content jqm-fullwidth')
      h1 #{error.status}
      p #{message}
      pre #{error.stack}
      p
        a(href='https://selection4test.ru' role='button' class='ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left' target='_self') Back to Home
    div(data-role='footer' data-position='fixed')
      h4
        a(href= footerLink) #{footerTxt}
        span &nbsp;2017
